
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref="tab.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Device Tab -->
  <ion-tab title="Device" icon-off="ion-steam" icon-on="ion-steam" ui-sref="tab.device">
    <ion-nav-view name="tab-device"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Logout" icon-off="ion-power" icon-on="ion-power" ng-click="logout()">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
