<ion-view view-title="Devices">
  <ion-content class="padding" ng-init="getAllDeviceOfUser()">
      <h2>User devices</h2>

    <div class=" col col-center">
     <button ui-sref="newDevice" class="button button-small button-full button-positive">
      Ajouter un nouveau device
      </button>
    </div>

   <div class="list">
   <div ng-repeat="device in devices">
   <div class="item item-divider">{{device.name}}</div>
   <div class="item">
     <label>  <strong>Nom: </strong> {{device.name}} </label> <br>
     <label>  <strong>Matricule: </strong> {{device.uniqueId}} </label> <br>
     <label>  <strong>Status: </strong> {{device.status}} </label> <br>
     <label>  <strong>Téléphone: </strong> {{device.phoneNumber}} </label> <br>

          <div class="post-actions row">
           
             <div class="col col-33 text-left">
            
              <a class="button button-small button-full button-assertive" 
              ng-click="getSelectedCar(c)">
                Modifier
              </a>
            </div>
            &nbsp;
            <div class="col  col-33 text-right">
              <button type="button" class="button button-small button-full button-assertive" 
              ng-click="deleteDevice(device.id)">
                Supprimer
              </button>
            </div>

            
            
          </div>
    

   </div>
   </div>
   

  </div>

     
  </ion-content>
</ion-view>
