<ion-view view-title="Login">
  <ion-content class="padding">
  <br><br><br>
      <div class="list list-inset">
      <label ng-if="invalidCredentials" style="color:red"><strong>Username or password is invalid</strong></label>
      <br><br>
          <label class="item item-input">
              <input type="text" placeholder="Enter your username or email " ng-model="credentials.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder=" Enter your password" ng-model="credentials.password">
          </label>
      </div>
      <button class="button button-full button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>